{% extends 'base.html' %}

{% block content %}

<div class="page-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-7 step-content">
        <div class="form-wrapper">
          <div class="content">            
            <p class="h4 text-center my-4">
                Sua senha foi redefinida.<br><br>
                Você pode continuar e fazer o login agora! :)
            </p>
            <a href="{% url 'login' %}" class="btn btn-block btn-success mt-2">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}