{% extends 'base.html' %} {% block content %}

<div class="page-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-7 step-content">
        <div class="form-wrapper">
          <div class="content">
            <h3>Alterar senha</h3>
            {% if validlink %}
            <form action="" method="post">
              {% csrf_token %}
              <div class="form-group mt-1">
                <input class="form-control" placeholder="Nova senha:" type="password" name="new_password1" required=""
                  id="id_new_password1">
                <span class="alert-danger text-center">{{form.new_password1.errors}}</span>
              </div>
              <div class="form-group mt-1">
                <input class="form-control" placeholder="Confirmação da nova senha:" type="password"
                  name="new_password2" required="" id="id_new_password2">
                <span class="alert-danger">{{form.new_password2.errors}}</span>
              </div>
              <div class="text-center mt-3">
                <input type="submit" value="Alterar">
              </div>
            </form>
            <p class="mt-3 text-center">Observações</p>
            <ul class="list-group alert-info">
              <li class="list-group-item">Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
              <li class="list-group-item">Sua senha precisa conter pelo menos 8 caracteres.</li>
              <li class="list-group-item">Sua senha não pode ser uma senha habitualmente utilizada.</li>
              <li class="list-group-item">Sua senha não pode ser inteiramente numérica.</li>
            </ul>
            {% else %}
            <p class="text-center text-danger h5">
              O link para alterar senha é inválido, possívelmente ele já foi utilizado.
              Por favor solicite outro link. </p>
              <a href="{% url 'password_reset' %}" class="btn btn-block btn-info mt-2">
                Obter outro link
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}