{% extends 'base.html' %}

{% block content %}

<div class="page-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-7 step-content">
        <div class="form-wrapper">
          <div class="content">
            <p class="h5 text-center">
              As instruções para definir a sua senha foram enviadas.<br>Se existir uma conta com o email que informado, você deve recebê-lo em breve.
            </p>
            <p class="h5 text-center">
              Se você não receber nenhum e-mail, por favor certifique-se de ter preenchido corretamente o e-mail que
              usou para se cadastrar no site, e verifique sua caixa de spam também.
            </p>
            <a href="{% url 'login' %}" class="btn btn-block btn-success mt-2">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}