/* #Media Queries
================================================== */
/* END__ */

@media (min-width: 992px) and (max-width: 1199px) {
.wrapper{margin:0 270px;}
.carousel-content{ padding:20px;}
.block-header h4, .block-header .sort-bar{ float:none;}
.block-header h4{ margin-bottom:15px;}
ul.products.list .col-lg-4 .slide-item [class*=col-]:nth-child(1){ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%;}
ul.products.list .col-lg-4 .slide-item [class*=col-]:nth-child(2){ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%;}
.banner .container:after{ right:0;}
.price-block [class*=col-]{ margin-top:15px;}
.minhas-listing .minhas-item .media img{ height: auto; width: 100%; margin-right: 0;}
.minhas-listing .minhas-item .row{ margin-left: -10px; margin-right: -10px;}
.minhas-listing .minhas-item [class*=col-]{ -ms-flex-item-align: center !important; align-self: center !important; padding-left: 10px; padding-right: 10px;}
.media-checkbox input[type="checkbox"] + label{ margin: 10px 0 0 0}
.minhas-listing .minhas-item .dwld-btn{ border-radius: 8px; padding: 6px 12px; font-size: 13px;}
.minhas-wrapper .tab-content{ padding: 20px;}
.minhas-wrapper .custom-radio{ text-align: left !important;}
.minhas-wrapper .custom-radio small{ display: block; text-align: left; margin-bottom: 5px;}
.minhas-wrapper .custom-radio input[type="radio"] + label{ margin: 0 3px 0 0;}
.minhas-wrapper .nav-tabs .nav-link, .minhas-wrapper .nav-tabs .nav-link.active, .minhas-wrapper .nav-tabs .nav-item.show .nav-link{ font-size: 13px;}

.minhas-listing .minhas-item { padding-bottom: 40px;}
.minhas-listing .minhas-item .collapse-btn{ display: block;}
.minhas-listing .minhas-item .link-btns{ margin: 0; display: table; width: 100%;}
.minhas-listing .minhas-item .link-btns li{padding: 0; display: table-cell}
.minhas-listing .minhas-item .link-btns li a{ padding: 5px; margin: 0 3px;}
.minhas-wrapper .tbody .trow .row{ margin-left: -8px; margin-right: -8px;}
.minhas-wrapper .tbody .trow .row [class*=col-]{ padding-left: 8px; padding-right: 8px; -ms-flex-item-align: start !important;align-self: start !important;}
.minhas-wrapper .tbody .trow .row [class*=col-]:last-child{ margin-top: 12px;}
.minhas-wrapper .action-button:nth-child(1){ float: left; margin: 0;}
.minhas-wrapper .action-button:nth-child(2){ float: right;}
.minhas-form label small{ margin: 8px 0 0 0;}
.minhas-form input[type="submit"]{ margin-top: 20px;}
} 
/* END__ */

@media (min-width: 768px) and (max-width: 991px) {
.wrapper{ margin:0 20px;}
.block-header h4, .block-header .sort-bar{ float:none;}
.block-header h4{ margin-bottom:15px;}
.carousel-content{ padding:20px;}
ul.products.list .col-lg-4 .slide-item{ padding-left:0; font-size:13px;}
ul.products.list .col-lg-4 .slide-item .row{ margin-left:-6px; margin-right:-6px;}
ul.products.list .col-lg-4 .slide-item [class*=col-]{ padding-left:6px; padding-right:6px;}
ul.products.list .col-lg-4 .slide-item [class*=col-]:nth-child(1){ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
ul.products.list .col-lg-4 .slide-item [class*=col-]:nth-child(2){ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
ul.products.list .col-lg-4 .slide-item .full-img .button{ display:block; padding-left:12px; padding-right:12px;}
ul.products.list .col-lg-4 .slide-item, ul.products.list .col-lg-4 .slide-item + .slide-item{ margin-top:0; margin-bottom:25px; padding-bottom:0; border:none;}
ul.products.list .col-lg-4 .slide-item .list-button, .slide-item .list-button{ display:none;}
ul.products.list .col-lg-4 .slide-item .full-img{ padding:0 8px;}
ul.products.list .col-lg-4 .slide-item .full-img .button{ line-height:26px; font-size:10px; padding:0; left:0; right:0; -webkit-transform:translateX(0%); -ms-transform:translateX(0%); transform:translateX(0%); text-align:center;}
.right-sidebar{ position:relative; top:auto; left:auto; right:auto; bottom:auto; margin:20px 20px 80px; border-radius:10px; width:auto;}
.right-sidebar .content{ padding:20px;}
.banner .container:after{ right:-30%;}
.w2 h3 { font-size:26px; text-align:center; margin-bottom:0;}
.minhas-listing .minhas-item .media img{ height: auto; width: 100%; margin-right: 0;}
.minhas-listing .minhas-item [class*=col-]{ -ms-flex-item-align: center !important; align-self: center !important;}
.media-checkbox input[type="checkbox"] + label{ margin: 10px 0 0 0}
.minhas-listing .minhas-item .dwld-btn{ border-radius: 8px;}

.minhas-listing .minhas-item .media img{ height: auto; width: 100%; margin-right: 0;}
.minhas-listing .minhas-item .row{ margin-left: -10px; margin-right: -10px;}
.minhas-listing .minhas-item [class*=col-]{ -ms-flex-item-align: center !important; align-self: center !important; padding-left: 10px; padding-right: 10px;}
.media-checkbox input[type="checkbox"] + label{ margin: 10px 0 0 0}
.minhas-listing .minhas-item .dwld-btn{ border-radius: 8px; padding: 6px 12px; font-size: 13px;}
.minhas-wrapper .tab-content{ padding: 20px;}
.minhas-wrapper .custom-radio{ text-align: left !important;}
.minhas-wrapper .custom-radio small{ display: block; text-align: left; margin-bottom: 5px;}
.minhas-wrapper .custom-radio input[type="radio"] + label{ margin: 0 3px 0 0;}
.minhas-wrapper .nav-tabs .nav-link, .minhas-wrapper .nav-tabs .nav-link.active, .minhas-wrapper .nav-tabs .nav-item.show .nav-link{ font-size: 13px;}

.minhas-listing .minhas-item { padding-bottom: 40px;}
.minhas-listing .minhas-item .collapse-btn{ display: block;}
.minhas-listing .minhas-item .link-btns{ margin: 0; display: table; width: 100%;}
.minhas-listing .minhas-item .link-btns li{padding: 0; display: table-cell}
.minhas-listing .minhas-item .link-btns li a{ padding: 5px; margin: 0 3px;}
.minhas-wrapper .tbody .trow .row{ margin-left: -8px; margin-right: -8px;}
.minhas-wrapper .tbody .trow .row [class*=col-]{ padding-left: 8px; padding-right: 8px; -ms-flex-item-align: start !important;align-self: start !important;}
.minhas-wrapper .tbody .trow .row [class*=col-]:last-child{ margin-top: 12px;}
.minhas-wrapper .action-button:nth-child(1){ float: left; margin: 0;}
.minhas-wrapper .action-button:nth-child(2){ float: right;}
} 
/* END__ */

@media only screen and (max-width: 767px) {
.btn{ font-size:14px; padding:0.5rem 1.2rem; }
.form-control, input[type="text"], input[type="email"], input[type="tel"], input[type="file"], input[type="search"], textarea{ padding:0.4rem 0.5rem; }
h1, .h1 {font-size:1.875rem;}
h2, .h2 {font-size:1.6875rem;}
h3, .h3 {font-size:1.4375rem;}
h4, .h4 {font-size:1.25rem;}
h5, .h5 {font-size:1.125rem;}
h6, .h6 {font-size:1rem;}
.wrapper{ margin:0 15px; padding-bottom:80px;}
.block-header h4, .block-header .sort-bar{ float:none;}
.block-header h4{ margin-bottom:15px;}
.carousel-content{ padding:20px;}
ul.products.list .col-lg-4 .slide-item{ padding-left:0; font-size:13px;}
ul.products.list .col-lg-4 .slide-item .row{ margin-left:-6px; margin-right:-6px;}
ul.products.list .col-lg-4 .slide-item [class*=col-]{ padding-left:6px; padding-right:6px;}
ul.products.list .col-lg-4 .slide-item [class*=col-]:nth-child(1){ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%;}
ul.products.list .col-lg-4 .slide-item [class*=col-]:nth-child(2){ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%;}
ul.products.list .col-lg-4 .slide-item .full-img .button{ display:block; padding-left:12px; padding-right:12px;}
ul.products.list .col-lg-4 .slide-item, ul.products.list .col-lg-4 .slide-item + .slide-item{ margin-top:0; margin-bottom:25px; padding-bottom:0; border:none;}
ul.products.list .col-lg-4 .slide-item .list-button, .slide-item .list-button{ display:none;}
ul.products.list .col-lg-4 .slide-item .full-img{ padding:0 8px;}
.right-sidebar{ position:relative; top:auto; left:auto; right:auto; bottom:auto; margin:20px 20px 80px; border-radius:10px; width:auto;}
.right-sidebar .content{ padding:20px;}
.slide-item .full-img .button{ line-height:26px;}
.step-nav{ display:none;}
.page-content{ padding:100px 0 50px;}
.button{ display:block; margin:0 auto}
.pagination-links{ border:none; margin-top:24px;}
.pagination-links [class*=col-]:nth-child(1){ text-align:right;}
.pagination-links [class*=col-]:nth-child(2).text-right{ text-align:left !important}
.page-slider .carousel-control-prev, .page-slider .carousel-control-next{width:12px; height:21px; margin-top:-10px;}
.pagination-links .line-btn{ display:none;}
.page-header .main-nav{ position:absolute; top:100%; margin-top:auto; left:0; float:none; padding:0;}
.page-header .main-nav .menu{ float:none;}
.page-header .btn-links{ padding:10px 0; float:none;}
.page-header .btn-links li{ padding:0 10px; width:50%; float:left; margin:0;}
.page-header .btn-links li a{ display:block; text-align:center;}
.pagination-links .row .organge-btn{ display:none;}
.option-wrapper .col-md-8, .option-wrapper .col-md-4{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%}
.option-wrapper .content, .right-block-content{ padding:20px;}
.form-wrapper .content{ padding:15px;}
.google-link, .facebook-link{ font-size:12px;}
.banner{ font-size:16px}
.banner h2{ font-size:32px; line-height:35px;}
.banner .btn{ text-align:left; padding:6px 20px;}
.icon-section [class*=col-], .w3-content .row .content, .section{ font-size:15px;}
.w1 .mt-5{ margin-top:24px !important}
.w1 h2{ font-size:32px;}
.banner .container:after{ right:-280px;}
.w3-content .row{ margin-left:-6px; margin-right:-6px;}
.w3-content .row [class*=col-]{ padding-left:6px; padding-right:6px;} 
.w4{ background:#fff;}
.w4:after{ display:none;}
.w4 .content{ box-shadow:none; -webkit-box-shadow:none; padding:0;}
.w5 .owl-carousel{ padding:0 30px;}
.w6{ padding:30px 0;}
.w6 h2{ font-size:32px; margin-bottom:25px;}
.w2 h3 { font-size:26px; text-align:center; margin-bottom:0;}
.current-plan, .payment-history{ padding:15px;}
.current-plan .btn{ padding-left:16px; padding-right:16px;}
.current-plan .btn{ border-radius:40px; margin:10px 2px 0}
.payment-history .table > thead > tr > th:nth-child(3), 
.payment-history .table > thead > tr > th:nth-child(5),
.payment-history .table > tbody > tr > td:nth-child(3),
.payment-history .table > tbody > tr > td:nth-child(5){ display:none;}
.footer-top{ margin:0 5px; padding-bottom:20px;}
.page-footer{ padding-top:20px;}
.page-footer .col-lg-6{ margin-bottom:14px;}
.footmenu li{ margin-top:10px;}
.page-footer .text-right, .footer-bottom{ text-align:center !important;}
.social{ margin-bottom:15px;}
.white-wrapper-block-1 .content-wrapper, .payment-method-form .form-body{ padding:15px;}
.payment-method-form input[type="radio"] + label{ width:140px; line-height:100%; text-align:left; font-size:14px; margin:0 4px;}
.payment-method-form input[type="radio"] + label span { display:block; float:left;}
.price-block [class*=col-]{ margin-top:15px;}
.card-wrapper{ margin-top:25px;}

.minhas-listing .minhas-item .media img{ height: auto; width: 100%; margin-right: 0;}
.minhas-listing .minhas-item .row{ margin-left: -10px; margin-right: -10px;}
.minhas-listing .minhas-item [class*=col-]{ -ms-flex-item-align: center !important; align-self: center !important; padding-left: 10px; padding-right: 10px;}
.media-checkbox input[type="checkbox"] + label{ margin: 10px 0 0 0}
.minhas-listing .minhas-item .dwld-btn{ border-radius: 8px; padding: 6px 12px; font-size: 13px;}
.minhas-wrapper .tab-content{ padding: 20px;}
.minhas-wrapper .custom-radio{ text-align: left !important;}
.minhas-wrapper .custom-radio small{ display: block; text-align: left; margin-bottom: 5px;}
.minhas-wrapper .custom-radio input[type="radio"] + label{ margin: 0 3px 0 0;}
.minhas-wrapper .nav-tabs .nav-link, .minhas-wrapper .nav-tabs .nav-link.active, .minhas-wrapper .nav-tabs .nav-item.show .nav-link{ font-size: 13px;}

.minhas-listing .minhas-item { padding-bottom: 40px;}
.minhas-listing .minhas-item .collapse-btn{ display: block;}
.minhas-listing .minhas-item .link-btns{ margin: 0; display: table; width: 100%;}
.minhas-listing .minhas-item .link-btns li{padding: 0; display: table-cell}
.minhas-listing .minhas-item .link-btns li a{ padding: 5px; margin: 0 3px;}
.minhas-wrapper .tbody .trow .row{ margin-left: -8px; margin-right: -8px;}
.minhas-wrapper .tbody .trow .row [class*=col-]{ padding-left: 8px; padding-right: 8px; -ms-flex-item-align: start !important;align-self: start !important;}
.minhas-wrapper .tbody .trow .row [class*=col-]:last-child{ margin-top: 12px;}
.minhas-wrapper .action-button:nth-child(1){ float: left; margin: 0;}
.minhas-wrapper .action-button:nth-child(2){ float: right;}
.minhas-form label small{ margin: 8px 0 0 0;}
.minhas-form input[type="submit"]{ margin-top: 20px;}
.personalizar .content{ padding: 0 40px;}
.personalizar .button-block .buttons{ margin-top: 20px; margin-left: auto; margin-right: auto; display: block;}
.personalizar .button-block .buttons:nth-child(1), .personalizar .button-block .buttons:nth-child(2){ float:none;}
.bottom-btn{ text-align: center;}
.check-modal .modal-body .modal-btn a{ margin-top: 15px; margin-left: auto; margin-right: auto; display: block;}
} 

/* END__ */

.investidores-wrap .form-block{ margin-top:30px;}
} 


@media (max-width: 374px) {
.google-link, .facebook-link{ font-size:10px;}
.minhas-wrapper .nav-tabs .nav-link, .minhas-wrapper .nav-tabs .nav-link.active, .minhas-wrapper .nav-tabs .nav-item.show .nav-link, .minhas-listing .minhas-item .dwld-btn{ font-size: 11px;}
.minhas-wrapper .nav-tabs .nav-link{ padding: 5px;}
.minhas-listing .minhas-item .dwld-btn span{ padding-right: 20px;}
} 
/* END__ */

@media (min-width: 768px) and (max-width: 991px) {

.investidores-wrap .form-block{ margin-top:30px;}
.novos .col-md-5{ margin-bottom:20px;}
.novos h3{ font-size:20px;}
.novos .box{ padding:15px;}
} 