{% extends 'admin/change_form.html' %} {% block submit_buttons_bottom %} {{ block.super }} {% if object_id %}
<div class="submit-row">
    <a class="btn" href="{% url 'users:login_without_password' object_id %}" style="background: green; color: white;padding: 10px; border-radius: 5px"> Login</a>
</div>
<p style="float: right">Cuidado estas ações não poderam ser desfeitas</p>
<br><br>
<div class="submit-row">
    <a class="btn" href="{% url 'users:regenarete_posts' object_id %}" style="background: black; color: white;padding: 10px; border-radius: 5px">Regerar POSTS</a>
    <a class="btn" href="{% url 'users:reset_password' object_id %}" style="background: red; color: white;padding: 10px; border-radius: 5px">Redefinir senha padrão</a>
</div>
{% endif %} {% endblock %} {% block after_related_objects %} {% endblock %}