{% extends 'newLayout/base.html' %} {% load signup_tag %} {% block content %}

<div class="page-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8 step-content">
            {% if not simple_url %}
                <nav class="step-nav">
                    <a href="{% url 'signup:theme_choice' %}">
                        <li>Selecione sua área</li>
                    </a>
                    <a href="{% url 'signup:customize' %}?theme={{request.session.theme}}">
                        <li>Personalize</li>
                    </a>
                    <li class="active">Informações</li>
                    <li>Acessar</li>
                </nav>
                {% endif %}
                <div class="mb-4">
                    <h3>Selecione um plano de publicações:</h3>
                </div>
                <!-- <div class="mb-4 switch-block">
                    <span class="left-text">Econômico</span>
                    <label class="switch"><input type="checkbox"><span
                            class="slider round"></span></label>
                    <span class="right-text">Flexível</span>
                </div> -->

                <div class="option-wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="content">
                                <div class="row radio-btns">
                                    <div class="col-6">
                                        <input class="numberPublic" type="radio" id="r1" name="count_posts" value="15" />
                                        <label for="r1">
                                            <span class="media">
                                                <span class="number">15</span>
                                                <span class="media-body align-self-center">
                                                    publicações por mês
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input class="numberPublic" type="radio" id="r2" name="count_posts" value="30" />
                                        <label for="r2">
                                            <span class="media">
                                                <span class="number">30</span>
                                                <span class="media-body align-self-center">
                                                    publicações por mês</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div id="plan30" class="radio-steps">
                                    {% for plan in plans30 %}
                                    <input required type="radio" id="plan{{plan.pk}}" name="radio_plan" value="{{plan.pk}}" onclick="get_price('{{plan.pk}}')" />
                                    <label for="plan{{plan.pk}}">
                                                    <span></span>{{plan.name}}</label> {% endfor %}
                                </div>
                                <div id="plan15" class="d-none radio-steps">
                                    {% for plan in plans15 %}
                                    <input required type="radio" id="plan{{plan.pk}}" name="radio_plan" value="{{plan.pk}}" onclick="get_price('{{plan.pk}}')" />
                                    <label for="plan{{plan.pk}}">
                                            <span></span>{{plan.name}}</label> {% endfor %}
                                </div>
                                <div class="row radio-btns">
                                    <!-- <div class="col-6 offset-3 text-center" style="color: #341AA1">
                                        <h6 class="text-center">A Viralize escolhe as publicações para você</h6>
                                    </div> -->
                                    <div class="col-6 text-center">
                                        <input {% if random in 'True' %} checked {% endif %} 
                                            type="radio" id="id_random_r" name="random" value="True" />
                                        <label class="rlabel" for="id_random_r">A Viralize escolhe as publicações para você</label>
                                    </div>
                                    <div class="col-6 text-center">
                                        <input {% if random in 'False'  %} checked {% endif %} 
                                            type="radio" id="id_not_random" name="random" value="False" />
                                        <label class="rlabel" for="id_not_random">Você escolhe as publicações</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 right-content">
                            <div class="right-block-content">
                                <label>Cupom de desconto:</label>
                                <input id="cupom" type="text" class="form-control" placeholder="Insira seu cupom aqui" value="{{code}}">
                                <a id="search_btn" class="btn btn-block btn-primary" style="cursor: pointer;color:#341AA1; margin-top: 5px">Aplicar</a>
                                <!--  -->
                                {% if msg %}
                                <ul class="messages" style="margin-bottom: -15px;">
                                    <li>{{ msg }}</li>
                                </ul>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12 col-sm-6
                                        col-6 price">
                                        <label>Valor por publicação:</label> {% for plan in plans30 %}
                                        <h4 id="publicValue{{plan.pk}}" class="d-none amount_price">
                                            <span class="price-one">{% get_price_publication plan cupom %}</span>
                                        </h4>
                                        {% endfor %} {% for plan in plans15 %}
                                        <h4 id="publicValue{{plan.pk}}" class="d-none amount_price">
                                            <span class="price-one">{% get_price_publication plan cupom %}</span>
                                        </h4>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-6 price">
                                        <label>Valor total:</label>
                                        <h6 class="amount_price">
                                            <span class="price-two">Selecione um plano</span>
                                        </h6>
                                        {% for plan in plans30 %}
                                        <h4 id="price{{plan.pk}}" class="d-none amount_price">
                                            <span class="price-two">
                                                {% get_price plan False cupom %}
                                            </span>
                                        </h4>
                                        <small id="priceInstallments{{plan.pk}}" class="d-none amount_price">
                                            (ou {{plan.installments}}x de {% get_price plan True cupom %})
                                        </small> {% endfor %} {% for plan in plans15 %}
                                        <h4 id="price{{plan.pk}}" class="d-none amount_price">
                                            <span class="price-two">
                                                {% get_price plan False cupom %}
                                            </span>
                                        </h4>
                                        <small id="priceInstallments{{plan.pk}}" class="d-none amount_price">
                                            (ou {{plan.installments}}x de {% get_price plan True cupom %})
                                        </small> {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination-links clearfix">
            
            {% if not simple_url %}
            <div class="text-center mb-3 d-block d-md-none">
                <a href="{% url 'signup:create_account' %}" class="organge-btn">Não quero contratar
                    agora, quero<br>apenas minha publicação gratuita</a>
                </div>
            {% endif %}
            <div class="row">
                {% if not simple_url %}
                <div class="col-6 col-sm-6 col-md-3
                    align-self-center">
                    <a href="{% url 'signup:customize' %}?theme={{request.session.theme}}" class="back-link">
                        Anterior
                    </a>
                </div>
                {% endif %}
                <div class="col-6 col-sm-6 col-md-9
                    align-self-center text-right clearfix">
                    {% if not simple_url %}
                    <a href="{% url 'signup:create_account' %}" class="organge-btn mr-3">Não quero
                        contratar agora, quero<br>apenas minha
                        publicação gratuita</a>
                    {% endif %}
                    <a style="cursor: pointer" id="btn_next" class="next-link">Próximo</a>
                </div>
            </div>
        </div>
    </div>
</div>

<form  id="plan_choice" action="{{simple_url}}" method="post">
    {% csrf_token %}
    <input hidden type="text" name="plan" id="id_plan">
    <!-- code-->
    {% if cupom %}
    <input hidden type="text" name="cupom" id="id_cupom" value="{{code}}"> {% endif %}
</form>

<form id="form_random" action="" method="get">
    <input hidden type="text" name="random" id="id_random">
    {% if cupom %}
    <input hidden type="text" name="cupom" id="id_cupom_2" value="{{code}}"> {% endif %}
</form>


{% endblock content %} {% block script %}

<script>
    $('input[name=random]').click(function() {
        let cupom = $("#cupom").val()
        let random = $('input[name=random]:checked').val();
        $('#id_random').val(random)
        if (cupom != "") {
            $('#id_cupom_2').val(cupom)
        }
        $("#form_random").submit()
    })

    $('#search_btn').click(function() {
        let cupom = $("#cupom").val()
        let random = "?random={{random}}"
        if (cupom != "") {
            cupom = "&cupom=" + cupom
            $("#search_btn").attr('href', random + cupom)
            $("#search_btn").click()
        }
    });

    $('input[name="count_posts"]').click(function() {
        $("input[name='radio_plan'").prop("checked", false);
        let radio = $("input[name='count_posts']:checked").val();
        $('.amount_price').attr('style', 'display:none')
        $('h6.amount_price').attr('style', 'display:block !important')
        if (radio == "15") {
            $('#plan30').attr('style', 'display:none')
            $('#plan15').attr('style', 'display:block !important') //('d-none');
        } else {
            $('#plan15').attr('style', 'display:none')
            $('#plan30').attr('style', 'display:block !important') //('d-none');
        }
    });

    $("#btn_next").click(function() {
        if (!$("input[name='count_posts']:checked").val()) {
            alert('Selecione a quantidade de publicações!');
        } else if (!$("input[name='radio_plan']:checked").val()) {
            alert('Selecione um plano!');
        } else {
            let cupom = $("#cupom").val()
            if (cupom != "") {
                $('#id_cupom').val(cupom)
            }
            $("#plan_choice").submit()
        }
    });


    function get_price(id) {
        $('.amount_price').attr('style', 'display:none')
        $('#priceInstallments' + id).attr('style', 'display:block !important') //('d-none');
        $('#publicValue' + id).attr('style', 'display:block !important') //('d-none');
        $('#price' + id).attr('style', 'display:block !important') //('d-none');
        $("#id_plan").val($("input[name='radio_plan']:checked").val())
    }
</script>

{% endblock script %}