{% extends "newLayout/base.html" %} {% load static %}{% block content %}
<div class="page-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9 col-sm-8 col-md-11 col-lg-7 step-content">
                <nav class="step-nav">
                    <li class="active">Selecione sua área</li>
                    <li>Personalize</li>
                    <li>Selecionar Plano</li>
                    <li>Acessar</li>
                </nav>
                <div class="mb-5">
                    <h3>Selecione o tema das publicações:</h3>
                </div>
                <form id="next_tap" action="/" method="get">
                    <div class="select-dd" id="basic-usage">
                        <select id="theme_select" class="form-control custom-select">
                        <option value="">Escolher tema</option>
                        {% for theme in themes %}
                            <option value="{{theme.name}}">{{theme.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <!-- <h6 id="msg_error" class="d-none text-danger text-center">
                        Por favor selecione um tema!
                    </h6> -->
                </form>
            </div>
        </div>

        <div class="pagination-links">
            <div class="row justify-content-end">
                <div class="col-md-6 text-right">
                    <a id="btn_next" href="" class="next-link">Próximo</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %} {% block script %}

<script src="{% static 'newLayout/js/fancySelect.js' %}"></script>

<script>
    var redirect = true
    $("select").blur(function() {
        //.change(function() {
        var str = "";
        $("select option:selected").each(function() {
            if (redirect) {
                $('#btn_next').click()
                redirect = false
            }
        });
    })

    $('#btn_next').click(function(e) {
        e.preventDefault();
        if ($('#theme_select').val() != "") {
            let url = "{% url 'signup:customize' %}"
            $('#next_tap').attr('action', url);
            let theme = $("<input>").attr("type", "hidden")
                .attr("name", "theme").val($('#theme_select').val());
            $('#next_tap').append(theme);
            $('#next_tap').submit();
        } else {
            alert("Nenhum tema selecionado!");
            //$('#msg_error').removeClass('d-none');
        }
    });

    $(document).ready(function() {
        $('.custom-select').fancySelect();
    });
</script>
{% endblock script %}