<!-- Modal -->
<style>
    .btn_color {
        display: inline-block;
        width: 50px;
        height: 60px;
        border: 0.5px solid black;
        border-radius: 10%;
        box-sizing: content-box;
        transition: 0.5s;
        margin: 2px;
    }
    
    a.btn_color {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 8px;
        margin-left: -14px;
        border-radius: 10%;
    }
    
    .btn_color_active {
        border: 2px solid greenyellow !important;
    }
</style>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Selecione um cor!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" style="height: 250px; overflow-y: auto;">
                <form id="form_color" action="" method="get">
                    <input hidden type="text" name="theme" value="{{theme}}"> {% for cor in colors %}
                    <button class="btn_color" data-dismiss="modal" style="background-color: #{{cor.hexadecimal}};">
                        <input required hidden type="radio" name="color" value="{{cor.hexadecimal}}">
                    </button> {% endfor %}
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
            </div> -->
        </div>
    </div>
</div>